body {
  margin: 0;
  background-color: hsl(0, 100%, 74%);
}

main {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("images/bg-intro-desktop.png");
}

.info-container {
  color: white;
  width: 26%;
  margin-right: 100px;
}

h1 {
  font-size: 49px;
  line-height: 1.1;
}

.form-container {
  width: 28%;
}

.form-banner {
  font-size: 14px;
  background-color: hsl(248, 32%, 49%);
  color: white;
  text-align: center;
  padding: 14px;
  border-radius: 10px;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.15);
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: white;
  padding: 0px 35px 25px;
  border-radius: 10px;
  min-height: 50vh;
  margin-top: 25px;
  box-shadow: 0px 6px 0px rgba(0, 0, 0, 0.15);
}

.input-group {
  position: relative;
  display: flex;
  flex-direction: column;
}

input {
  margin: 10px 0px 20px;
  padding: 14px;
  border-radius: 5px;
  border: 1px solid hsl(246, 25%, 77%);
  text-indent: 15px;
}

input::placeholder {
  color: hsl(249, 10%, 26%);
  font-weight: 500;
  text-indent: 15px;
}

input.invalid::placeholder {
  color: hsl(0, 100%, 74%);
  text-indent: 15px;
}

input,
button {
  font-family: inherit;
}

input:focus {
  border: 1.5px solid hsl(248, 32%, 49%);
  outline: none;
}

.input.invalid {
  border: 2px solid hsl(0, 100%, 74%);
  margin-bottom: 35px;
}

.icon {
  display: none;
}

.icon.invalid {
  display: block;
  position: absolute;
  top: 39%;
  right: 25px;
  transform: translateY(-50%);
}

.error-text {
  display: none;
}

.error-text.invalid {
  display: block;
  position: absolute;
  top: 55%;
  right: 2px;
  color: hsl(0, 100%, 74%);
  font-size: 12px;
  font-style: italic;
  margin: 12px 0px 0px;
}

button {
  margin-top: 10px;
  padding: 13px;
  border-radius: 5px;
  border: none;
  background-color: hsl(154, 59%, 51%);
  color: white;
  font-size: 15px;
  font-weight: 500;
  box-shadow: 0px 4px 0px hsla(154, 59%, 40%, 0.8);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: hsl(154, 59%, 60%);
}

.form-termsofservice-text {
  color: hsl(246, 25%, 77%);
  font-size: 12px;
  margin: 0;
  padding-top: 20px;
  text-align: center;
}

.termsofservice-span {
  color: hsl(0, 100%, 74%);
}

@media (max-width: 375px) {
  main, .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .info-container {
    margin: 0;
    width: 80%;
    text-align: center;
  }
}